<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Rate Us</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-Zenh87qX5JnK2Jl0vWa8Ck2rdkQ2Bzep5IDxbcnCeuOxjzrPF/et3URy9Bv1WTRi" crossorigin="anonymous">
    <style>
        body {
            background: #f964be;
        }
        .rating {
            justify-content: center;
            display: flex;
            padding: 10px 10px;

        }

        .star {
            cursor: pointer;
            font-size: 2.5rem;
            color: #ffffff;
            padding: 20px 8px;
        }

        .star:hover,
        .star.selected {
            color: rgb(235, 142, 3);
        }
        .card{
           width: 50%;
           margin-left: 25%;
           margin-top: 10%;
           border: 3px solid black;
           background: #c961f9;
        }
        /* .center{
            justify-content: center;
        } */
        
    </style>
</head>

<body>
        
    <div class="center">
    <div class="card text-center">
        <div class="card-header" style="font-size: 1.5rem; font-weight: 700; background-color: #bc33fc;">
          Rate us
        </div>
        <div class="card-body">  
            <div class="rating">
                <span class="star fa fa-star" data-value="1"></span>
                <span class="star fa fa-star" data-value="2"></span>
                <span class="star fa fa-star" data-value="3"></span>
                <span class="star fa fa-star" data-value="4"></span>
                <span class="star fa fa-star" data-value="5"></span>
            </div>
       
            <div>
                <form action="/rate" method="post">
                    <input type="hidden" name="user_id" value="<%= user._id%>">
                    <input type="text" hidden id="rate" name="rating" value="<%= user.rating%>">
                    <input type="submit" value="submit" style="cursor: pointer; color: white; background-color: blue; width: 150px; border: 2px solid white; border-radius: 5px; font-size: 1.5rem;" >
                </form>
            </div>
        </div>
        <div class="card-footer text-muted">
          2 days ago
        </div>
      </div>
    </div>
    <script>
        const stars = document.querySelectorAll('.star');

        for (let i = 0; i < stars.length; i++) {
            stars[i].addEventListener('click', function () {
                // Get the selected rating
                const selectedRating = this.getAttribute('data-value');

                // Remove previously selected stars
                for (let j = 0; j < stars.length; j++) {
                    stars[j].classList.remove('selected');
                }

                // Select the clicked star and all the stars before it
                for (let j = 0; j < selectedRating; j++) {
                    stars[j].classList.add('selected');
                }

                // Send the selected rating to the server
                sendRatingToServer(selectedRating);
            });
        }

        function sendRatingToServer(rating) {
            // Code to send the rating to the server
            var changeRating = document.getElementById("rate");
            changeRating.value = rating;
        }

    </script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.6/dist/umd/popper.min.js"
    integrity="sha384-oBqDVmMz9ATKxIep9tiCxS/Z9fNfEXiDAYTujMAeBAsjFuCZSmKbSSUnQlmh/jp3"
    crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/js/bootstrap.min.js"
    integrity="sha384-IDwe1+LCz02ROU9k972gdyvl+AESN10+x7tBKgc9I5HFtuNz0wWnPclzo6p9vxnk"
    crossorigin="anonymous"></script>
</body>

</html>